<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>Giao diện xem điểm</title>
<head th:replace="common/default :: header" />

<body style="padding: 10px 20px">

<div th:replace="common/default :: navbar"> </div>

<h1 style="margin-top: 60px" >Xem điểm theo kỳ học</h1>
<table>
    <tr>
        <th scope="col">Chào: </th>
        <th th:text="*{name}" scope="col"></th>

    </tr>
</table>

<a  style="  color: white" class="btn btn-primary"  th:href="@{/client/a}" role="button">Quay lại</a>

<p >Nhập kỳ(ví dụ): 2018-2019-1</p>
<div style="padding: 10px 16px; margin-left: -16px" class="input-group">

    <form method="get" th:action="@{/client/b}">
        <div class="input-group">
            <input autofocus="true" type="text" name="key" placeholder="Nhập kỳ học, năm học" />
            <button type="submit"  class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

</div>

<h5 class="text-danger" th:text="${sai}"></h5>
<h3  th:text="*{semester}"> </h3>
<h3 th:text="*{year}"> </h3>
<h3>GPA của bạn là: </h3>
<h3 th:text="*{gpa}"> </h3>


<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên môn</th>
            <th scope="col">Số Tín chỉ</th>
            <th scope="col">Điểm hệ 10</th>
            <th scope="col">Điểm hệ 4</th>
            <th scope="col">Kết quả</th>
            <th scope="col">GPA </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item,index : ${list}" >
            <th scope="row" th:text="*{index.index + 1}"></th>
            <th  th:text="*{item.subject.name}"></th>
            <td th:text="*{item.subject.credits}" ></td>
            <td th:text="*{item.pointString}" ></td>
            <td th:text="*{item.fourPoint}" ></td>
            <td th:text="*{item.result}" ></td>
            <td th:text="*{item.fourPointAvg}" ></td>
        </tr>

        </tbody>
    </table>
</div>
<div th:replace="common/default :: body-scripts"> </div>
</body>
</html>